<ul class="instructions">
    <li class="italic">Controls:</li>
    <li>Up/Down to add and remove nodes.</li>
    <li>Left/Right to change the node girth.</li>
    <li>Escape to reset.</li>
</ul>

<canvas id="juniper_sketch" data-processing-sources="juniper_logo.pde"></canvas>

<script>
  var test = function(){
    var pjs = Processing.getInstanceById("juniper_sketch");
    burst = pjs.getBurst();
    var burstJson = JSON.stringify(JSON.decycle(burst));
    var newBurst = new pjs.JuniperBurst(new pjs.Poynt(burst.position.x,burst.position.y), burst.fatness, burst.scalar);
    pjs.setBurst(newBurst, burst.petals.size());
  }
</script>