<ul class="instructions">
    <li class="italic">Controls:</li>
    <li>Up/Down to add and remove nodes.</li>
    <li>Left/Right to change the node girth.</li>
    <li>Escape to reset.</li>
</ul>
<canvas id="logo_editor"></canvas>

<script>
$(function(){
  // attach processing script to canvas the old fashioned way...  
  $.get('/juniper_logo_lib.pde', function(library_classes) {
    $.get('/juniper_logo_editor.pde', function(logo_editor) {
        var all_processing_scripts = library_classes + "\n" + logo_editor;
        var p = new Processing($("#logo_editor").get(0), all_processing_scripts);
        var burstString = '(<%= @logo.json.html_safe %>)';    
        var burst = eval(burstString);
        var newBurst = new p.JuniperBurst(new p.Poynt(400,400), burst.fatness, 200);
        p.setBurst(newBurst, burst.petals.length);
    });
  });
});
</script>