<ul class="instructions">
    <li class="italic">Controls:</li>
    <li>Up/Down to add and remove nodes.</li>
    <li>Left/Right to change the node girth.</li>
    <li>Escape to reset.</li>
</ul>
<canvas id="juniper_sketch"></canvas>

<script>
$(function(){
  // attach processing script to canvas the old fashioned way...  
  $.get('/juniper_logo.pde', function(data) {
    var p = new Processing($("#juniper_sketch").get(0), data);
    var burstString = '(<%= @logo.json.html_safe %>)';    
    var burst = eval(burstString);
    var newBurst = new p.JuniperBurst(new p.Poynt(burst.position.x,burst.position.y), burst.fatness, burst.scalar);
    p.setBurst(newBurst, burst.petals.length);
  });
});
</script>